# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/

# VS Code
.vscode/

# Logs
logs/
*.log

# Database
*.db
*.sqlite3

# Environment variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db